body{
    background-color:cornflowerblue;
}

section{
    width: 300px;
    height: auto;
    background-color: beige;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
}

button{
    cursor: pointer;
}
footer{
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.excluir{
    background-color: rgb(255, 129, 129);
    margin: 10px;
}

.enviar{
    background-color: rgb(174, 255, 154);
}

b{
    color: rgb(190, 0, 0);
}